* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;      
}

/* a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    padding: 1.2em;
    white-space: nowrap;
}

a:hover {
    background-color: rgb(0, 67, 237);
} */

.header-container {
    height: fit-content;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.header-flex {
    margin: auto;
    height: 430px;
    max-width: 590px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-flex > h1, p {
    color: white;
}

.buttons {
    margin-top: 10px;
}

.dark {
    background-color: rgb(35, 39, 42);
    color: white;
    padding: .5em 0.9em;
    border-radius: 100px;
    border: 1px solid rgb(35, 39, 42);
}

.light {
    color: black;
    padding: .4em 0.9em;
    border-radius: 100px;
    border: 1px solid rgb(37, 94, 233);
    margin-right: 10px;
}

#arrow {
    font-size: 16px;
    vertical-align: bottom;
}

.main-flex {
    height: fit-content;
    max-width: 78%;
    margin: auto;
    margin-top: 100px;
}

.light-background {
    display: flex;
    flex-wrap: wrap;
}

.image {
    height: fit-content;
    flex-basis: 0;
    flex-grow: 1;
    
}

.text {
    height: fit-content;
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 40px;
}