* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;      
}

/* a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    padding: 1.2em;
    white-space: nowrap;
}

a:hover {
    background-color: rgb(0, 67, 237);
} */

.header-container {
    height: fit-content;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.header-flex {
    margin: auto;
    height: 430px;
    max-width: 590px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-flex > h1, p {
    color: white;
}

.buttons {
    margin-top: 10px;
}

.dark {
    background-color: rgb(35, 39, 42);
    color: white;
    padding: .5em 0.9em;
    border-radius: 100px;
    border: 1px solid rgb(35, 39, 42);
}

.light {
    color: black;
    padding: .4em 0.9em;
    border-radius: 100px;
    border: 1px solid rgb(37, 94, 233);
    margin-right: 10px;
}

.arrow {
    font-size: 16px;
    vertical-align: bottom;
}

.light-background {
    display: flex;
    max-width: 72%;
    margin: auto;
    padding: 100px 0;
}

.image {
    flex-basis: 0;
    flex-grow: 1.3;
}

.pic {
    width: 100%;
}

.text {
    height: fit-content;
    flex-basis: 0;
    flex-grow: .7;
    margin-top: 40px;
}

.container {
    background-color: lightgray;
    height: fit-content;
}

.dark-background {
    display: flex;
    flex-direction: row-reverse;
    max-width: 72%;
    margin: auto;
    padding: 100px 0;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 72%;
    margin: auto;
    padding: 100px 0;
    background-color: lightgray;
}

.text-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    height: 200px;
    width: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    margin-bottom: -50px;
}

.small-text {
    margin-top: 22px;
    font-size: 20px;
}

.purple {
    background-color: rgb(150, 102, 232);
    color: white;
    padding: .4em 0.9em;
    border-radius: 10em;
    border: 1px solid rgb(150, 102, 232);
    margin-top: 50px;
    
}

footer {
    width: 100%;
    height: 400px;
    background-color: rgb(35, 35, 35);
}